<div class="cookie-banner-overlay" *ngIf="isVisible">
  <div class="cookie-banner-container">
    <div class="cookie-content">
      <div class="banner-header">
        <h3>Valoramos tu privacidad</h3>
      </div>
      <p>
        Utilizamos únicamente <strong>cookies técnicas</strong> estrictamente necesarias para el correcto funcionamiento del sitio web. Este sitio web <strong>no utiliza cookies analíticas ni publicitarias</strong>. Para más información, consulte nuestra
        <a href="/politica-cookies">Política de Cookies</a>.
      </p>
      <div class="cookie-actions">
        <button class="btn btn-accept" (click)="accept()">Aceptar y Cerrar</button>
      </div>
    </div>
  </div>
</div>
